<h1>Properties#index</h1>

<p>Find me in app/views/properties/index.html.erb</p>




<div>
	<h3>Import CSV</h3>
	<%= form_tag(import_properties_path, multipart: true) do %>
	<%= file_field_tag :file %>
	<%= submit_tag "Import csv" %>
	<% end %>
</div>
<div>
	<h3>Export CSV</h3>
	<a href="/properties.csv">Export csv</a>
</div>