<h2>Properties#show</h2>
<h4>find me at /views/properties/show.html.erb</h4>
<h3>

<%= @properties.address %></br>

</h3>
Date: <%= Date.today %>
<h2>

</h2>
<div class="table-responsive">
	<table class='table table-striped'>
		<th>Flat</th>
		<th>Name</th>
		<th>Due</th>
		<th>Paid</th>
		

	</table>

	