<h3> Quarterly Billing</h3> 
<div class="container-fluid text-center">
	<div class="col-sm-8 text-left"> 

			<form class='quarter_billing_form'>
				<label for="billing_for">Billing For</label>
					<input type="text"  id="billing_for" value=""><br><br>
                <h4>Beginning of Quarter Date:</h4><input id='beg_quarter_date' type="text" value='' id='datepicker'>
                <h4>End of Quarter Date:</h4><input id='end_quarter_date' type="text" value='' id='datepicker'>
                
                <input type='hidden' id='accountIDInput' ><br>
                <input type= 'submit' value='save changes'>
            </form>
        
               

    </div>
</div>