// Place all the styles related to the Transaction controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#importcsv tr:hover {
    background-color: yellow;
    cursor: pointer;
  }


#import tr:hover {
    background-color: yellow;
    cursor: pointer;
  }

 #demo4, #demo3 {
 	color: blue; 
 	font-weight: bold;
 } 

 