<!-- modal -->
<div class="modal fade" id="modal1-window">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span>
        </button>
        <h4 class="modal-title">Modal1 title</h4>
      </div>
      <div class="modal-body">
        <p>Payment:</p>
        <p id='transDate'></p>
        <p id= 'transAmt'></p>
        <p id='trans'></p>
        <p id='payment_already_exists'></p>
        <p>SortAccount matches: </p> 
       <table>
          <tr  id='trans_matches' ></tr>
       </table>
          
      </div>
      <div class="modal-footer">
      
      
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" id="btnSkip" class="btn btn-primary">Skip Payment</button>
        <button type="button" id="btnSave1" class="btn btn-primary">Save Payment</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
</div>



